.fusion-tool {
  padding: 10px auto;
  border-radius: 8px;
  background-color: #f9f9f9;
  border-left: 12px solid #ffffff00;
  border-right: 12px solid #ffffff00;
}

.fusion-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  width: 100%;
}

.fusion-form label {
  display: flex;

  flex-direction: column;
}

.fusion-form input,
.fusion-form select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fusion-form button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.fusion-form button:hover {
  background-color: #45a045;
}

.fusion-table {
  width: 100%;
  border-collapse: collapse;
}

.fusion-table th,
.fusion-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.fusion-table th {
  background-color: #f2f2f2;
}

.sort-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sort-button:hover {
  background-color: #0056b3;
}
/* Styles pour StatCard */
.stat-card {
  background-color: #f0e2cf50;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 2px;
  margin: 4px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

/* Disposition en grille 4x2 pour les stat-cards */
.stats-container-FusionTool {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);

  gap: 5px;
}


.stat-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  transition: all 0.3s ease;
}


.stat-card-label {
  margin: 0;
  font-size: 0.85rem;
  color: #333;    
  position: relative;
  zoom: 1; /* Zoom de 150% */
}

.stat-card-value {
  margin: 0;
  font-size: 0.85rem;
  position: relative;
  z-index: 1;
}






/* Mode sombre */
body.dark .fusion-tool {
  border-color: #4a5568;
  background-color: #2d3748;
  color: #f9f9f9;
}

body.dark .fusion-form input,
body.dark .fusion-form select {
  background-color: #4a5568;
  border-color: #718096;
  color: #f9f9f9;
}

body.dark .fusion-form button {
  background-color: #38a169;
}

body.dark .fusion-form button:hover {
  background-color: #2f855a;
}

body.dark .fusion-table th {
  background-color: #4a5568;
}

body.dark .fusion-table td {
  background-color: #2d3748;
  border-color: #4a5568;
}

body.dark .sort-button {
  background-color: #3182ce;
}

body.dark .sort-button:hover {
  background-color: #2b6cb0;
}

body.dark .stat-card {
  background-color: #1e1e1e;
  border-color: #333;
  color: #d58080;
}

body.dark .stat-card-label {
  color: #ec7c7c;
}

body.dark .stat-card-value {
  color: #ccaa00;
}
