.home-page {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Réduire l'espacement entre les sections */
  margin: 10px; /* Réduire la marge */
  padding: 10px; /* Réduire le padding */
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px; /* Réduire la marge en bas */
  padding: 0px; /* Réduire le padding */
  zoom: 50%; /* Réduire la taille du texte */

}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Réduire l'espacement entre les widgets */
}

.widget-container {
  flex: 1 1 calc(50% - 10px); /* Chaque widget prend 50% de la largeur moins l'espacement */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.task-form,
.task-filters,
.global-pomodoro-timer,
.task-list {
  flex: 1 1 100%; /* Prend toute la largeur */
  padding: 10px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styles pour le mode sombre */
body.dark .home-page {
  background-color: #1a202c;
  color: #f9f9f9;
}

body.dark .header {
  background-color: #2d3748;
}

body.dark .widget-container,
body.dark .task-form,
body.dark .task-filters,
body.dark .global-pomodoro-timer,
body.dark .task-list {
  background-color: #2d3748;
  color: #f9f9f9;
}