.version-history {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #333;
  }

  
  .version-history h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #4caf50;
  }
  
  .version-history p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .version-history ul {
    list-style-type: none;
    padding: 0;
  }
  
  .version-history ul li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #4caf50;
    font-size: 1rem;
  }
  
  .version-history ul li:nth-child(odd) {
    background: #e9e9e9;
  }

  .dark .version-history ul li {
    background: #333;
    border-left: 5px solid #ffffffc4;
  }

  .dark .version-history h1 {
    color: #ffffffc4;
  }
  
  .dark .version-history p {
    color: #f5f5c5;
  }

  .dark .version-history ul li  {
    border-left: 15px solid #5e75da;
    background-color: #77839a;
    color:#eeeeea;
  }


