.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 2rem;
  font-weight: normal;
  color: #333; /* Gris discret */
  background: #f9f9f9; /* Fond clair */
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
  max-width: fit-content;
  border: 1px solid #ddd; /* Bordure subtile */
}

.clock-time {
  font-family: "Arial", sans-serif; /* Police simple et courante */
  letter-spacing: 0.03em; /* Espacement subtil */
  color: #555; /* Gris légèrement plus foncé pour le contraste */
}

/* Style sobre avec une légère animation de fade-in au chargement */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.clock-container {
  animation: fadeIn 0.5s ease-in-out;
}

/* Styles pour le mode sombre */
body.dark .clock-container {
  background: #2d3748; /* Fond sombre */
  color: #f9f9f9; /* Texte clair */
  border: 1px solid #4a5568; /* Bordure subtile pour le mode sombre */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée pour le mode sombre */
}

body.dark .clock-time {
  color: #f9f9f9; /* Texte clair */
}