.clock-container {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.clock-time {
  font-family: "Arial", sans-serif;
  letter-spacing: 0.2em;
  color: #333333;
  font-size: 1em;
}

/* Style sobre avec une légère animation de fade-in au chargement */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Styles pour le mode sombre */
body.dark .clock-container {
  background: #1e1e1e; /* Fond sombre */
  color: #1e1e1e; /* Texte clair */
}

body.dark .clock-time {
  color: #cccccc;
}