.clock-container {
  width: 100%; /* Étendre sur toute la largeur de la page */
  display: flex;
  justify-content: center; /* Centrer le contenu horizontalement */
  align-items: center; /* Centrer verticalement si nécessaire */
  margin: 0 auto; /* Supprimer les marges externes */
  background-color: #f9f9f9; /* Optionnel : couleur de fond */
  padding: 0px 0; /* Espacement interne */
  box-sizing: border-box; /* Inclure les bordures et marges dans la largeur totale */
  animation: fadeIn 0.5s ease-in-out;
  
}

.clock-time {
  font-family: "Arial", sans-serif; /* Police simple et courante */
  letter-spacing: 0.5em; /* Espacement subtil */
  color: #555; /* Gris légèrement plus foncé pour le contraste */
  font-size: 1em; /* Taille de police plus grande */
  text-align: center; /* Centrer le texte horizontalement */
  margin: 0; /* Supprimer les marges internes */
  padding: 0; /* Supprimer les marges internes */
  animation: fadeIn 0.5s ease-in-out; /* Animation de fade-in */
}

/* Style sobre avec une légère animation de fade-in au chargement */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Styles pour le mode sombre */
body.dark .clock-container {
  background: #2d3748; /* Fond sombre */
  color: #f9f9f9; /* Texte clair */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée pour le mode sombre */
}

body.dark .clock-time {
  color: #b6a7a7; /* Texte clair */
}