.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Plus haut que le reste du contenu */
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10000; /* Plus haut que modal-overlay */
  transform: none !important; /* Empêcher les transformations héritées */
  transition: none !important; /* Désactiver les transitions héritées */
}

/* Désactiver les effets de survol des éléments parents */
.modal-overlay *:hover {
  transform: none !important;
  box-shadow: none !important;
}

.modal-form label {
  display: block;
  margin-bottom: 10px;
}

.modal-form input,
.modal-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #007acc; /* Bleu VS Code */
  color: white;
}

.modal-buttons button:last-child {
  background-color: #e51400; /* Rouge VS Code */
  color: white;
}

/* Styles pour le mode sombre */
body.dark .modal-content {
  background-color: #1e1e1e;
  border-color: #2d2d2d;
  color: #d4d4d4;
}

body.dark .modal-form label {
  color: #d4d4d4;
}

body.dark .modal-form input,
body.dark .modal-form select {
  background-color: #252526;
  border-color: #2d2d2d;
  color: #d4d4d4;
}

body.dark .modal-buttons button:first-child {
  background-color: #005c99; /* Vert foncé pour sauvegarder */
}

body.dark .modal-buttons button:last-child {
  background-color: #b31200; /* Rouge foncé pour annuler */
}

/* Désactiver les interactions avec les éléments en arrière-plan */
body.modal-open {
  pointer-events: none; /* Désactive les interactions */
}

body.modal-open .modal-overlay,
body.modal-open .modal-content {
  pointer-events: auto; /* Réactive les interactions pour l'overlay et la modale */
}