:root {
  --color-low-priority: #4caf50; /* Vert pour faible priorité */
  --color-medium-priority: #ff9800; /* Orange pour moyenne priorité */
  --color-high-priority: #f44336; /* Rouge pour haute priorité */
  --color-text: #333; /* Couleur du texte */
  --color-background: #f9f9f9; /* Couleur de fond */
  --color-border: #ddd; /* Couleur de bordure */
}

body.dark {
  --color-low-priority: #68d391; /* Vert clair pour faible priorité */
  --color-medium-priority: #f6ad55; /* Orange clair pour moyenne priorité */
  --color-high-priority: #fc8181; /* Rouge clair pour haute priorité */
  --color-text: #f9f9f9; /* Couleur du texte */
  --color-background: #2d3748; /* Couleur de fond */
  --color-border: #4a5568; /* Couleur de bordure */
}

.priority-pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto; /* Réduire la marge */
  padding: 0px; /* Réduire le padding */
  background-color: var(--color-background);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;

  width: 30%; /* Réduit la largeur du bloc */
  height: auto; /* Ajuste la hauteur automatiquement */
  margin: 0 auto; /* Centre le bloc horizontalement */
}

.priority-pie-chart canvas {
  max-width: 100%;
  height: auto;
}

/* Styles pour le mode sombre */
body.dark .priority-pie-chart {
  background-color: var(--color-background);
  color: var(--color-text);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}