.priority-pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto; /* Réduire la marge */
  padding: 10px; /* Réduire le padding */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.priority-pie-chart canvas {
  max-width: 100%;
  height: auto;
}

/* Styles pour le mode sombre */
body.dark .priority-pie-chart {
  background-color: #2d3748;
  border-color: #4a5568;
  color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}