.weather-widget {
  padding: 10px; /* Réduire le padding */
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  margin: 10px 0; /* Réduire la marge */
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.weather-widget-icon {
  font-size: 2em; /* Réduire la taille de l'icône */
  margin-bottom: 0.5rem; /* Ajouter un peu d'espace en dessous de l'icône */
}

.time-emoji {
  font-size: 2em; /* Réduire la taille de l'emoji */
  margin-top: 0.5rem; /* Ajouter un peu d'espace au-dessus de l'emoji */
}

.weather-widget h3 {
  font-size: 1.2rem; /* Réduire la taille de la police */
  margin-bottom: 0.5rem;
}

.weather-widget p {
  margin: 0.3rem 0;
  font-size: 1rem; /* Réduire la taille de la police */
}

/* Styles pour le mode sombre */
body.dark .weather-widget {
  border-color: #4a5568;
  background-color: #2d3748;
  color: #f9f9f9;
}